<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <!--配置字符串-->
  <connectionStrings>
    <!--<add name="connStr" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=book_store;User ID=sa;PassWord=sa2017" />-->
    <add name="ConnectionStrings" connectionString="Data Source=肖远航;Initial Catalog=EPSMS_Database;Integrated Security=True" />
  </connectionStrings>
</configuration>